body {
    margin: auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: lightpink;
}

.workout{
    border: 2px solid white;
    margin: 1em;
    padding: 0.2em 0.5em;
}

.info {
    border: 2px solid white;
    margin: 1em;
    padding: 0.5em;
    background-color: rebeccapurple;
    color: black;
  }

.header {
    background-color: palevioletred;
    color: white;
    margin: 0;
  }
  
nav {
    text-align: center;
    background-color: lightgoldenrodyellow;
    margin: 0;
  }

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    padding: 0 lem;
    margin: 0;
}

nav li:not(:last-of-type) {
    border-right: 1 px solid black;
}
  
.content {
    background-color: pink;
    padding: 1em;
    margin: 0.5em 0;
  }
  