body {
    margin: auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: lightblue;
}

.workout{
    border: 2px solid black;
    margin: 1em;
    padding: 0.2em 0.5em;
}

.info {
    border: 2px solid black;
    margin: 1em;
    padding: 0.5em;
    background-color: blue;
    color: white;
  }
  