<!DOCTYPE html>
<html>

<head>
  <title>Treeniohjelmat</title>
</head>

<body>
    <h1>Treeniohjelmat</h1>
    {% if session.username %}
    <p>
        Olet kirjautunut nimellä {{ session.username }}
    </p>
    {% endif %}
    
    <p>
        <a href="/login">Kirjaudu sisään</a>
        <a href="/register">Luo tunnus</a>
        <a href="/logout">Kirjaudu ulos</a>
    </p>

    <p>
        <a href="/new_workout">Uusi julkaisu</a>
        <a href="/find_workout">Etsi julkaisu</a>
    </p>
    <h2>Julkaisut</h2>
        <u>
            {% for workout in workouts %}
            <li><a href="/workout/{{ workout.id }}" > {{ workout.title }}</a></li>
            {% endfor %}
        </u>

</body>

</html>
