<!DOCTYPE html>
<html>

<head>
  <title>Uusi julkaisu</title>
</head>

<body>
    <h1>Uusi julkaisu</h1>
  <form action="/create_workout" method="post">
    <p>
      Treenin nimi: <br />
      <input type="text" name="title" maxlength="50" />
    </p>
    <p>
        Treenin sisältö: <br />
        <textarea name="description" rows="8" cols="80" maxlength="1000" required></textarea>
    </p>
    <p>
        Kesto: <br />
        <input type="text" name="duration" size="5" pattern="[1-9][0-9]{0,2}" required/> viikkoa
    </p>
    <p>
        Intensiivisyys: <br />
        <select name="intensity">
          <option value="">{valitse}</option>
          <option value="matala">matala</option>
          <option value="keskitaso">keskitaso</option>
          <option value="korkea">korkea</option>
        </select>
    </p>
    <p>
      Treenin tyyppi: <br />
      <select name="type">
        <option value="">{valitse}</option>
        <option value="cardio">cardio</option>
        <option value="voimaharjoittelu">voimaharjoittelu</option>
        <option value="yhdistelmä">yhdistelmä</option>
      </select>
    </p>
    <input type="submit" value="Luo julkaisu" />
  </form>
  <p>
    <a href="/">Takaisin</a>
  </p>
</body>

</html>
