{% extends "layout.html" %}

{% block title %}Uusi treeniohjelma{% endblock %}

{% block content %}
<h2>Uusi julkaisu</h2>
<form action="/create_workout" method="post">
  <p>
    Treenin nimi: <br />
    <input type="text" name="title" maxlength="50" />
  </p>
  <p>
    Treenin sisältö: <br />
    <textarea name="description" rows="8" cols="80" maxlength="1000" required></textarea>
  </p>
  <p>
    Kesto: <br />
    <input type="text" name="duration" size="5" pattern="[1-9][0-9]{0,2}" required/> viikkoa
  </p>
  {% for class in classes %}
  <p>
    {{ class }} <br />
      <select name="classes">
        <option value="">{valitse}</option>
      {% for option in classes [class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endfor %}
      </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo treeni" />
</form>
{% endblock %}