{% extends "layout.html" %}

{% block title %}Treenin poisto{% endblock %}

{% block content %}
<div class="content">
<h2>{{ workout.title }}</h2>
<h3>Treenin poisto</h3>
<p>Treeni: <a href="/workout/{{ workout.id }}">{{ workout.title }}</a></p>
<p>Haluatko varmasti poistaa tämän treenin?</p>
<form action="/remove_workout/{{ workout.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="remove" value="Poista treeni">
  <input type="submit" name="back" value="Palaa takaisin">
</div>
</form>
<p>
  <a href="/workout/{{ workout.id }}">Takaisin treeniin</a>
</p>
{% endblock %}
