<!DOCTYPE html>
<html>

<head>
  <title>{{ item.title }}</title>
</head>

<body>
    <h1>{{ item.title }}</h1>
    {% if session.user_id == item.user_id %}
    <p>
        <a href="/edit_item/{{ item.id }}">Muokkaa</a>
        <a href="/remove_item/{{ item.id }}">Poista</a>
    </p>
    {% endif %}
    <p>
        {{ item.description }}
    </p>
    <p>
        Kesto: {{ item.duration }} viikkoa
    </p>
    <p>
        Intensiivisyys: {{ item.intensity }}
    </p>
    <p>
        Julkaisija: {{ item.username }}
    </p>
    <p>
        <a href="/">Takaisin</a>
    </p>
</body>

</html>
