{% extends "layout.html" %}

{% block title %}{{ workout.title }}{% endblock %}

{% block content %}
<h2>{{ workout.title }}</h2>
{% if session.user_id == workout.user_id %}
<p>
    <a href="/edit_workout/{{ workout.id }}">Muokkaa</a>
    <a href="/remove_workout/{{ workout.id }}">Poista</a>
</p>
{% endif %}
<p>
    {{ workout.description }}
</p>
<ul>
    <li>Kesto: {{ workout.duration }} viikkoa</li>
    <li>Julkaisija: <a href="/user/{{ workout.user_id }}">{{ workout.username }}</a></li>
</ul>
{% if classes %}
<h3>Luokat:</h3>
<ul>    
    {% for class in classes %}
    <li>{{ class.title}}: {{ class.value }}</li>
    {% endfor %}
{% endif %}
</ul>
<h3>Arviot</h3>
<ul>
    {% for evaluation in evaluations %}
    <li>{{ evaluation.evaluation }}, <a href="/user/{{ evaluation.user_id }}">{{ evaluation.username }}</a></li>
    {% endfor %}
</ul>
{% if session.user_id %}
<h3>Uusi arvio</h3>
<form action="/create_evaluation" method="post">
    <textarea name="evaluation" rows="4" cols="40" maxlength="1000" required></textarea>
    <input type="hidden" name="workout_id" value="{{ workout.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Lähetä" />
</form>
{% endif %}
{% endblock %}
